.album{
    &__content {
        border-radius: 5px;
        width: 334px;
        height: 530px;
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        background-color: #ffff00;
        text-align: start;
    
        
    }
    &__title-container {
        display: flex;
        
    }

    &__title-medic {
        font: Arial;
        font-weight: 700;
        font-size: 16px;

    }
    &__title-country {
        font: Arial;
        font-weight: 400;
        font-size: 16px;
        font-style: italic;
        margin-left: 20px;
    }
    &__description {
        font: Arial;
        font-weight: 400;
        font-size: 13px;
        text-align: start;
    }
    &__cost {
        font: Arial;
        font-weight: 700;
        font-size: 18px;
    }
    &__image {
        margin: 0 auto;
        width: 320px;
        height: 320px;
    }
    &__cost-container {
        display: flex;
        margin-top: auto;
        margin-bottom: 5px;
        justify-content: space-between;
        align-items:  center;      
    }
    &__btn-add{
        display: block;
       
    }
    
}
