html,body{
    min-width: 320px;
}
.albums {
    &__header-container{
        display: flex;
        justify-content: space-between;
    }
    &__title-container{
        display: flex;
        flex-direction: row;
       
    }  
    &__title {
        font: typeface-oswald;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: rgba(241, 79, 79, 1);    
    }
    &_content {
        display: flex;
        background-color: hotpink;
    }
  
}