.album {
  &__content {
    border-radius: 5px;
    width: 334px;
    height: 530px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: #ffff00;
    text-align: start;
  }
  &__title-container {
    display: flex;
  }

  &__title-medic {
    font: Arial;
    font-weight: 700;
    font-size: 16px;
  }
  &__title-country {
    font: Arial;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    margin-left: 20px;
  }
  &__description {
    font: Arial;
    font-weight: 400;
    font-size: 13px;
    text-align: start;
  }
  &__cost {
    font: Arial;
    font-weight: 700;
    font-size: 18px;
  }
  &__image {
    margin: 0 auto;
    width: 320px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 15px;
  }
  &__cost-container {
    display: flex;
    margin-top: auto;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__btn-add {
    display: block;
    margin-top: -35px;
    margin-right: 15px;
    padding-top: 0px;
  }

  &__cart {
    max-width: 40px;
    max-height: 40px;
    margin-right: 15px;
    margin-top: 22px;
    
  }
}
