*,
*::after,
*::before {
  /* box-sizing: content-box; */
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../image/Sections_background/section-1\(header\).jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background-color: rgba(94, 93, 88, 0.6);
  padding-bottom: 23px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-top: 27px;
  margin-left: 1px;
}

.nav__list {
  display: flex;
  align-items: center;
  padding-top: 13.5px;
}

.nav__item {
  margin-top: 20px;
  list-style-type: none;
}

.nav__item-1 {
  margin-right: 24px;
  margin-top: 18.6px;
  position: relative;
}

.nav__item-1::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 52px;
  height: 2px;
  background-color: #18cfab;
}

.nav__item-1:hover.nav__item-1::after {
  display: block;
}

.nav__item-2 {
  margin-right: 25px;
  margin-top: 18.4px;
  position: relative;
}

.nav__item-2::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 60px;
  height: 2px;
  background-color: #18cfab;
}

.nav__item-2:hover.nav__item-2::after {
  display: block;
}

.nav__item-3 {
  position: relative;
  margin-right: 23.5px;
  margin-top: 18.5px;
}

.nav__item-3::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 47px;
  height: 2px;
  background-color: #18cfab;
}

.nav__item-3:hover.nav__item-3::after {
  display: block;
}

.nav__item-4 {
  position: relative;
  margin-right: 25.2px;
  margin-top: 19px;
}

.nav__item-4::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 56px;
  height: 2px;
  background-color: #18cfab;
}

.nav__item-4:hover.nav__item-4::after {
  display: block;
}

.nav__item-5 {
  position: relative;
  margin-right: 25.8px;
  margin-top: 17.8px;
}

.nav__item-5::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 71px;
  height: 2px;
  background-color: #18cfab;
}

.nav__item-5:hover.nav__item-5::after {
  display: block;
}

.nav__item-6 {
  position: relative;
  margin-right: 24px;
  margin-top: 16.5px;
}

.nav__item-6::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 55px;
  height: 2px;
  background-color: #18cfab;
}

.nav__item-6:hover.nav__item-6::after {
  display: block;
}

.nav__item-7 {
  position: relative;
  margin-right: 27px;
  margin-top: 15px;
  letter-spacing: 0.5px;
}

.nav__item-7::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 114px;
  height: 3px;
  background-color: #18cfab;
}

.nav__item-7:hover.nav__item-7::after {
  display: block;
}

.nav__item-8 {
  position: relative;
  margin-top: 21px;
}

.nav__item > a:hover {
  color: #18cfab;
}

.search {
  fill: rgba(255, 255, 255, 0.6);
}

.search:hover {
  fill: #18cfab;
}

.nav__item-8::after {
  position: absolute;
  display: none;
  content: "";
  top: 68.5px;

  left: 0px;
  width: 21px;
  height: 2.5px;
  background-color: #18cfab;
}

.nav__item-8:hover.nav__item-8::after {
  display: block;
}

.nav__link {
  text-decoration: none;

  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.6);

  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.wrapper_logo {
  position: relative;
  display: flex;
}

.logo__text {
  position: absolute;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 40px;
  color: #ffffff;
  line-height: 31px;
  left: 14px;
  top: 5px;
}

.logo_maim-text {
  position: absolute;
  top: 5px;
  left: 64px;

  font-weight: 10;
  font-size: 32px;
  color: #ffffff;
  line-height: 48px;
}

.logo_color-text {
  font-weight: 700;
  font-size: 32px;
  color: #18cfab;
  line-height: 48px;
  position: absolute;
  left: 55px;
}

.section-2 {
  padding-top: 252.2px;
  padding-bottom: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2__first-text {
  margin-left: 2px;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.4px;
}

.section-2__first-text-green {
  margin-left: -14px;
  color: #18cfab;
  letter-spacing: -0.1px;
}

.section-2_two-text {
  margin-top: 49px;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.section-2_three-text {
  margin-top: 13px;
  font-style: normal;
  letter-spacing: 0.21px;
  font-size: 34px;
  line-height: 1px;
  font-weight: 10;
  color: rgba(255, 255, 255, 0.6);
}

.section-2__wrapper__link {
  padding-top: 100px;
}

.section-2_link {
  margin-top: 120px;
  font-weight: 700;
  display: inline-block;
  padding: 20px 18px;
  background-color: #18cfab;
  box-shadow: 0 -5px #f7f8e8;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
  color: #f7f8e8;
}

.section-2_link-1 {
  margin-left: 0px;
  padding: 20px 22px 20px 20px;
  letter-spacing: 0.3px;
}

.section-2_link-2 {
  margin-left: 25px;
  padding: 20px 16px 20px 15px;
  background-color: #00cbf6;
}

.section-2_link:hover {
  background-color: #949a9a;
}

.section-3 {
  background-color: #ffffff;
  padding-top: 7px;
}

.wrapper-advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 361px;
  margin: 0 auto;
  padding: 0;
}

.advantages-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-calc(100%);
  background-color: #1c2a33;
  padding-left: 4px;
  padding-top: 1px;
}

.advantages-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-calc(100%);
  background: #18cfab;
  padding-top: 14px;
  padding-left: 4px;
}

.advantages-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-calc(100%);
  background: #1c2a33;
  padding-top: 2px;
}

.advantages-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-calc(100%);
  background: #18cfab;
  padding-top: 12px;
}

.advantages_text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #18cfab;
}

.advantages_text-1 {
  margin-top: 49px;
  margin-left: 12px;
}

.advantages_text-2 {
  margin-top: 58px;
  margin-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages_text-3 {
  margin-top: 50px;
  margin-left: 12px;
}

.advantages_text-4 {
  margin-top: 60px;
  margin-left: 7px;
  color: #ffffff;
}

.wrapper-services {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service__item__text {
  position: relative;
  margin-top: 89px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 33px;
}

.service__item__text::after {
  position: absolute;
  display: block;
  content: "";
  top: 70px;
  left: 82px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.service__item__text::before {
  position: absolute;
  display: block;
  content: "";
  top: 66px;

  left: 70px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.wrapper__tabs {
  margin: 70px auto;
  width: 98.5%;
}

.tabs-nav {
  display: flex;
  justify-content: space-between;
}

.tabs-nav__item {
  cursor: pointer;
  flex: 1;
  padding: 13px;

  color: #717171;
  text-align: center;
  font-size: 20px;
}

.tabs-nav__item:hover {
  border: 2px solid #18cfab;
}

.tabs-nav__item.is-active {
  position: relative;
  border: 2px solid #18cfab;
  background-color: #18cfab;
}

.tabs-nav__item.is-active::after {
  display: flex;
  content: "";
  position: absolute;
  left: 80px;
  bottom: -30px;
  border: 15px solid transparent;
  border-top: 15px solid #18cfab;
}

.is-active > h3 {
  color: #f2f2f2;
}

.tab {
  display: none;
  padding: 5px;
  padding-left: 0px;
}

.tab.is-active {
  display: flex;
}

.tab.is-active > p {
  margin: 0 0 0 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}

.tab__item {
  font-style: normal;
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  margin: 0;
}

.tabs__content {
  margin-top: 21px;
  margin-bottom: 13px;
}

.section-4 {
  margin: 0;
  padding: 0;
  background-color: black;
  background-color: #e9edef;
  background-size: cover;
  background-position: center;
}

.section-4_wrapper_item {
  padding-top: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 130px;
}

.section-4_item-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.section-4_item-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}

.section-4__wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-4_item-1 {
  margin-bottom: 14px;
}

.section-4_item-2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-4_wrapper_item:first-of-type a {
  margin-top: 69px;
  margin-left: 2px;
}

.work__item__text {
  position: relative;
  margin-top: 89px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 33px;
}

.work__item__text::after {
  position: absolute;
  display: block;
  content: "";
  top: 69px;
  left: 140px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.work__item__text::before {
  position: absolute;
  display: block;
  content: "";
  top: 64px;

  left: 130px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.wrapper-work {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper__tabsTwo {
  display: flex;
  margin-top: 65px;
}

.column {
  float: center;
  width: 100%;
  display: none;
}

.row {
  margin-top: 74px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  /* grid-template-columns: auto; */
  grid-template-rows: auto;
}

.show {
  display: block;
}

.btn {
  align-self: center;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  color: #717171;
  padding: 7px 16.5px 7px 16.5px;
  background-color: #e9edef;
}

.btn:hover {
  border: solid 2px #18cfab;
}

.btn.active {
  background: rgba(0, 0, 0, 0.0001);
  color: #18cfab;
}

.btn.active > h3 {
  color: #18cfab;
}

.btn.active > p {
  margin: 0 0 0 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  align-items: center;
  color: #18cfab;
}

.work_tab__item {
  font-style: normal;
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  margin: 0;
}

.btn.active > div {
  width: 100%;
}

.section-4_link {
  text-align: center;
  margin: 0 auto;
  margin-top: 73px;
  font-weight: 700;
  display: block;
  background-color: #18cfab;
  box-shadow: 0 -5px #f7f8e8;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
  color: #f7f8e8;
  cursor: pointer;
}

.graphic_design-item-1::before {
  position: absolute;
  left: 0px;
  content: "";
  width: 286px;
  height: 206px;
  background: #e9edef;
  opacity: 0;
}

.graphic_design-item-1::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 286px;
  height: 4px;
  background: #18cfab;
  opacity: 0;
}

.graphic_design-item-1 {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  position: relative;
}

.wrapper__hover_box-1 {
  position: absolute;
  width: 200px;
  display: flex;
  margin-left: 32px;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 5px;
  opacity: 0;
}

.wrapper_svg-4_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: relative;
  left: 10px;
}

.svg-circle_main {
  margin-right: 20px;
}

.svg_link-2 {
  position: absolute;
  top: 0px;
  left: 50px;
  opacity: 0;
}

.svg_link-3 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.wrapper_svg-4_link {
  flex: 1;
  position: relative;
  position: absolute;
  left: 14px;
  top: 36px;
}

.wrapper_svg-4_link-2 {
  position: absolute;
  left: 110px;
  top: 36px;
}

.wrapper_svg-4_link:hover .svg_link-2 {
  opacity: 1;
}

.wrapper_svg-4_link-2:hover .svg_link-3 {
  opacity: 1;
}

.graphic_design-item-1:hover .wrapper__hover_box-1 {
  opacity: 1;
}

.graphic_design-item-1:hover.graphic_design-item-1::after {
  opacity: 1;
}

.graphic_design-item-1:hover.graphic_design-item-1::before {
  opacity: 1;
}

.text-svg-content-1 {
  display: block;
  margin-top: 29px;
  margin-left: 25px;
  margin-bottom: 0px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
}

.text-svg-content-2 {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8a8a8a;
  margin-top: 0px;
  margin-left: 20px;
}

.loag_content {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 55px;
  margin-right: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.wrapper_button-4 {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.plus {
  position: absolute;
  left: 22px;
  top: 95px;
}

.section-5 {
  background-color: #ffffff;
}

.wrapper-beaking_news {
  display: grid;
  gap: 46px 36px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: minmax(min-content, max-content); */
  /* grid-template-columns: auto; */
  grid-template-rows: auto;
  padding-left: 0px;
  margin-top: 69px;
  margin-bottom: 129px;
}

.item-wrapper-beaking_news {
  list-style: none;
}

.item-wrapper-beaking_news_container {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  width: 263px;
  height: 280px;
  background-color: #ffffff;
}

.beaking_news-1 {
  position: relative;
}

.num,
.moun {
  margin-top: 1px;
  margin-bottom: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.right_block {
  left: 197px;
  width: 66px;
  height: 64px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #203e38;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9897px;
  line-height: 25px;
  color: #ffffff;
}

.breaking-item {
  position: relative;
}

.breaking-item-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 17.9885px;
  line-height: 39px;
  margin-left: 16px;
  color: #717171;
}

.breaking-item-2 {
  position: absolute;
  top: 30px;
  left: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  text-align: center;
  color: #777777;
}

.work__item__text-2 {
  margin-top: 81px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 33px;
}

.work__item__text-2::after {
  position: absolute;
  display: block;
  content: "";
  top: 147px;
  left: 536px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.work__item__text-2::before {
  position: absolute;
  display: block;
  content: "";
  top: 152px;
  left: 550px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.item-wrapper-beaking_news:hover .right_block {
  background: #18cfab;
}

.item-wrapper-beaking_news:hover .breaking-item-1 {
  color: #18cfab;
}

.item-wrapper-beaking_news:hover .item-wrapper-beaking_news_container {
  background-color: #f8fcfe;
}

.section-6 {
  background-image: url(images/Sections_background/section-3.jpg); /* Путь к фоновому изображению */
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 20px;
}

.footer {
  background: #22353f;
  margin: 0 auto;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  margin: 0 auto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  margin-top: 47px;
  margin-bottom: 47px;
}

.footer-logo {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100px;
  height: 25px;
}

.footer-green {
  color: #18cfab;
}

.section-6 {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url("../image/Sections_background/section-3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper-slider {
  position: relative;
  display: flex;
  flex-direction: column;
}

.work__item__text-3 {
  margin-top: 96px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 33px;
}

.work__item__text-3::after {
  position: absolute;
  display: block;
  content: "";
  top: 165px;
  left: 536px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.work__item__text-3:before {
  position: absolute;
  display: block;
  content: "";
  top: 168px;
  left: 550px;
  width: 75px;
  height: 1.5px;
  background-color: #18cfab;
}

.img-slider-q {
  margin: 0 auto;
  margin-top: 70px;
}

.svg-small {
  margin: 0 auto;
}

.slider {
  width: 1160px;
}

.navigation {
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.bar {
  margin: 6px;
  cursor: pointer;
  transition: all 1s ease;
}

.nav-img-1 {
  border-radius: 30px;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  display: none;
  transition: all 0.6s ease;
}

.first-image {
  border-radius: 100px;
  border: 10px solid rgba(24, 207, 171, 0.3);
  margin: 0 auto;
  margin-top: 30px;
}

.container-slide {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.s1 {
  display: block;
}

.first-text {
  margin-top: 29px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}

.second-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #18cfab;
}

.three-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #bbbbbb;
  margin-top: 1px;
  margin-left: 4px;
}

.btn-prev {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 340px;
  top: 537px;
  text-align: center;
  background-color: unset;
}

.btn-next {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 538px;
  left: 792px;
  background-color: unset;
}

.btn-next:hover {
  background-color: rgba(24, 207, 171, 1);
}

.btn-prev:hover {
  background-color: rgba(24, 207, 171, 1);
}

.active-tabs {
  transform: translateY(-30px) scale(1.3);
}

.nav-img-1 {
  border: 5px solid rgba(24, 207, 171, 0.3);
  margin-left: 10px;
  margin-right: 10px;
}

.galka {
  text-align: center;
  margin-left: -8px;
  fill: white;
}

.galka-second {
  margin-top: 1px;
  margin-left: -5px;
}

.hide {
  display: none;
}


