body {
  background-color: black;
  overflow: hidden;
}

.wrapper {
  transform: perspective(300px) rotateX(50deg);
}

.item {
  color: yellow;
  text-align: center;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  font: 100px;
  animation: 10s simple-animation ease-in 1s infinite;
}

@keyframes simple-animation {
  0% {
    transform: translateY(377px);
  }

  100% {
    transform: translateY(-50px);
  }
}

.main-text {
  display: block;
  text-transform: uppercase;
}
