.container {
  width: 1130px;
  margin: 0 auto;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 70px;
  background: #313131;
}

.menu__item {
  text-decoration: none;
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
}

.logo_box {
  display: flex;
  align-items: center;
  flex-basis: 205px;
}

.architect {
  text-align: center;
  padding: 0 0 7px 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  width: 124px;
  height: 26px;
  font-family: sans-serif;
}

.logo__img {
  flex-basis: 27px 27px;
  margin: 22px 27px 21px 27px;
}

.svg-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  background: #000000;
  width: 70px;
  height: 70px;
}

.search:hover path {
  fill: #14b9d5;
}

.menu_link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: sans-serif;
}

.menu_link:hover {
  color: #14b9d5;
}

.architecture_2 {
  margin-left: 35px;
}

.building_3 {
  margin: 0 34px 0 36px;
}

.magazine_4 {
  margin-right: 35px;
}

.blog_5 {
  margin-right: 35px;
}

.section1 {
  padding-top: 153px;
  padding-bottom: 122px;
  background-color: rgb(14, 1, 44);
  background-image: url("../img/background_under_header.jpg");
  background-size: cover;
  background-position: center;
}

.main_text {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.two-button {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.section__2button {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;

  padding: 16px 19px 17px 19px;
  border-radius: 5px;
  margin: 10px;
  background-color: #89ca62;
}

.best_articles {
  padding: 16px 29px 17px 29px;
  border-radius: 5px;
  margin: 10px;
  background-color: #14b9d5;
}

.most-popular-text {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 52px;
  color: #18b4cf;
}

.section2 {
  width: 100%;
  height: 1030px;
  background: #f2f2f2;
}

.container2 {
  width: 1170px;
  margin: 0 auto;
}

.flexbox_most-popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  height: 800px;
  align-content: space-between;
}

.most-popular-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.box1 {
  width: 370px;
  height: 320px;
  background: #ffffff;
}

.box2 {
  width: 370px;
  height: 321px;
  background: #ffffff;
}

.box3 {
  width: 370px;
  height: 441px;
  background: #ffffff;
}

.box4 {
  width: 370px;
  height: 309px;
  background: #ffffff;
}

.box5 {
  width: 370px;
  height: 355px;
  background: #ffffff;
}

.box6 {
  width: 370px;
  height: 441px;
  background: #ffffff;
}

.wrapper-section3 {
  height: 588px;
  background-color: rgb(14, 1, 44);
  background-image: url("../img/background-2_clients.jpeg");
}

.text-section3 {
  margin: 0 auto;
  padding-top: 106px;
  padding-bottom: 196px;
  width: 496px;
  height: 44px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.line-container {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}
.line {
  position: absolute;
  width: 60px;
  height: 3px;
  left: 470px;
  top: 239px;
  background: #18b4cf;
}

.box-section3 {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 880px;
  grid-auto-rows: minmax(28px, auto);
}

.section3-item {
  align-self: center;
  justify-self: center;
}

.h2-rated {
  text-align: center;
  margin: 49px auto 52px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}

.top-rated {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 20px;
  width: 1130px;
  height: 1410px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 71px;
}

.included > h3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  color: #353a3d;
}

.gallery-item > h3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin: 0;
  text-align: center;
  margin-top: 10px;
}

.included > p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.gallery-item > p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.box-1 {
  align-self: flex-start;
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 1/4;
  grid-row: 1/2;
  background: #f9f7f7;
}

.box-1 > div {
  text-align: end;
  padding: 20px;
  grid-gap: 20px;
}

.box-2 {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: flex-start;
  justify-self: end;
  text-align: center;
  width: 277px;
  height: 258px;
  background: #f9f7f7;
}

.box-3 {
  grid-column: 1/3;
  grid-row: 2/4;
  align-self: flex-start;
  width: 554px;
  height: 418px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  background: #f9f7f7;
}

.gallery-item > div {
  text-align: end;
  padding-right: 10px;
}

.box-3p {
  margin: 0;
}

.box-3h {
  margin: 7px auto 7px;
}

.box-4 {
  grid-column: 3/5;
  grid-row: 2/6;
  align-self: flex-start;
  justify-self: end;
  width: 554px;
  height: 418px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  background: #f9f7f7;
}

.gallery-item > div {
  text-align: end;
  padding-right: 10px;
}

.box-5 {
  grid-column: 1/3;
  grid-row: 4/6;
  align-self: flex-start;
  justify-self: start;
  width: 554px;
  height: 418px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  background: #f9f7f7;
}

.box-6 {
  grid-column: 3/5;
  grid-row: 4/6;
  align-self: flex-start;
  justify-self: end;
  width: 554px;
  height: 418px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  background: #f9f7f7;
}

.box-7 {
  grid-column: 1/2;
  grid-row: 6/7;
  align-self: flex-start;
  justify-self: start;
  text-align: center;
  width: 277px;
  height: 258px;
  background: #f9f7f7;
}

.box-8 {
  grid-column: 2/5;
  grid-row: 6/7;
  align-self: flex-start;
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f9f7f7;
}

.box-8 > div {
  text-align: end;
  padding: 20px;
  grid-gap: 20px;
}

.footer {
  background: #000000;
  margin: 0 auto;
}
.footer-box {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  margin-top: 35px;
  margin-bottom: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  color: #ffffff;
}

.footer-logo {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100px;
  height: 25px;
}
