#slide {
    width: 512px;
    height: 512px;
    border: 3px solid gray;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}
.slide-single {
    width: 512px;
    height: 512px;
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
}

