.wrapper {
  margin: 0 auto;
}

.form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33vh;
}

.price {
  margin-right: 25px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #2e2e2e;
}

.form-input {
  padding-left: 20px;
  width: 324px;
  height: 46px;
  text-align: start;
  border: 2px solid #ada9a9;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #2e2e2e;
}

.onClick {
  border: 3px solid blue;
  box-shadow: 1px 1px 2px 0 blue;
}

.error {
  color: red;
  font-size: 25px;
  margin: 0px;
  margin-left: 70px;
  text-align: center;
  display: none;
}
