.wrapper {
  margin: 0 auto;
  width: 800px;
}

.tabs-nav {
  display: flex;
  justify-content: space-between;
}

.tabs-nav__item {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  flex: 1;
  padding: 25px;
  background-color: #23201d;
  color: #937341;
  text-align: center;
  font-size: 20px;
}

.tabs-nav__item.is-active {
  border-color: #55a32a;
  background-color: #f3ca87;
  color: #23201d;
}

.tab {
  background-color: #f2f2f2;
  display: none;
  padding: 20px;
}

.tab.is-active {
  display: block;
}
