.container{
    width: 290px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    @media(min-width:481px){
        width: 461px;
    }
    @media(min-width:685px){
        width: 664px;
    }
    @media(min-width:993px){
        width: 972px;
    }
    @media(min-width:1181px){
        width: 1160px;
    }
    @media(min-width:1199px){
        width: 1180px;
    }
}

html,body{
    min-width: 320px;
}
.albums {
    &__header-container{
        display: flex;
        justify-content: space-between;
    }
    &__icon-container{
        display: flex; 
        margin-right:0.3em;
        

    }
    &__title-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-row-gap: 7px;  
            
    }  
    &__title {
        font: typeface-oswald;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
    }
    &__youtube-left{
        width: 25px;
        height: 25px;
        margin-left: 0.1em;
        transform: scale(-1, 1);
        cursor: pointer;  
    }
    &__youtube-right{
        width: 25px;
        height: 25px;
        margin-left: 0.1em;
        transform: scale(1, -1); 
        cursor: pointer;
    }
  
}