

.background-image {
    background-image: url("../src/images/backgroundimage.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
    background-size: 100%;
  }